@import "colors";
@import "typography";
@import "spacing";
@import "mediaquerie";
@import "reset";

body {
    background-color: $tertiary-color; 
    scroll-behavior: smooth; 
    @include font; 
}

header {
    background-color: $primary-color;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0; 

    .nav-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $sp-xs;
    }

    .navigation {
        @include link;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        @media #{$desktop} {
            flex-direction: row;
            justify-content: center;
        }

        li {
            padding: $sp-s $sp-m;
        }

        a {
            text-decoration: none;
            color: $secoundary-color; 
        }

        a:hover {
            color: $tertiary-color;
        }
    }
}

h2 {
    @include heading2; 
}

h3 {
    @include heading3; 
}

p {
    @include paragraph; 
}

ul {
    list-style: none;
}

.content_home {
    display: flex;
    align-items: center;
    flex-direction: column;

    .profile_photo {
        border-radius: 50%;
        width: 400px;
        border-style: dotted;
        border-width: thick;
        animation-name: stroke;
        animation-duration: 5s;
    }

    @keyframes stroke {
        from { border-color: $secoundary-color;}
        to { border-color: $primary-color;}
    }
}

.socialmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    @media #{$desktop} {
        flex-flow: row wrap;
        justify-content: center;
    }

    .sociamedia_child {
        @media #{$desktop} {
            width: 20%;
        } 

        .socialmedia_logo {
            width: 100px;
        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media #{$desktop} {
        flex-direction: row;
        justify-content: space-between;
    }  

    .list_items {
        height: 200px;
        @media #{$desktop} {
            width: 47%;
        }
    }

    .list_items_formation {
        height: 350px;
        @media #{$desktop} {
            width: 47%;
        }

        .school {
            width: 300px;
        }
    }
}

.skills {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: $sp-s;
    text-align: center;
    @media #{$desktop} {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    } 

    .skills_icon {
        width: 100px;
    }
}

.projects_info {
    padding-bottom: $sp-xl;
}

.project_section {
    padding-top: $sp-xl;
    padding-bottom: $sp-xl;
    display: flex;
    flex-direction: column;
    
    .project_text {
        width: 80%;
        @media #{$desktop} {
            width: 85%;
        }
    }
}

.galery {
    display: flex;
    flex-direction: column;
    @media #{$desktop} {
        flex-flow: row wrap;
    }

    .img_project {
        flex: 100%;
        padding-bottom: $sp-xl;
        @media #{$desktop} {
            flex: 40%;
            padding-right: $sp-s;
        } 
    }
}

footer {
    background-color: $primary-color;
    padding: $sp-xs;
    @media #{$desktop} {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }  

    p {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media #{$desktop} {
            padding: $sp-s;
        }  
    }
}