@import "colors";
@import "typography";
@import "spacing";
@import "mediaquerie";
@import "reset";
@import "grid";

body {
    background-color: $tertiary-color; 
    scroll-behavior: smooth; 
    @include font; 
}

header {
    background-color: $primary-color;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0; 

    .nav-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $sp-xs;
    }

    .navigation {
        @include link;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        @media #{$desktop} {
            flex-direction: row;
            justify-content: center;
        }

        li {
            padding: $sp-s $sp-m;
        }

        a {
            text-decoration: none;
            color: $secoundary-color; 
        }

        a:hover {
            color: $tertiary-color;
        }
    }
}

h2 {
    @include heading2; 
}

h3 {
    @include heading3; 
}

p {
    @include paragraph; 
}

ul {
    list-style: none;
}

.content_home {
    display: flex;
    align-items: center;
    flex-direction: column;

    .profile_photo {
        border-radius: 50%;
        width: 400px;
        padding-top: $sp-xs;
    }
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media #{$desktop} {
        flex-direction: row;
        justify-content: space-between;
    }  

    .list_items {
        height: 150px;
        @media #{$desktop} {
            width: 47%;
        }
    }

    .list_items_formation {
        height: 400px;
        @media #{$desktop} {
            width: 42%;
        }
    }
}
.socialmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    @media #{$desktop} {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .sociamedia_child {
        @media #{$desktop} {
            width: 20%;
        }  
        .socialmedia_logo {
            width: 100px;
        }
    }
}

footer {
    background-color: $primary-color;
    padding: $sp-xs;
    @media #{$desktop} {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }  

    p {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media #{$desktop} {
            padding: $sp-s;
        }  
    }
}

