---
layout: default
title: projeto
---

<div>
    <section class="container">
        <div class="content_home">
            <h1> Hi, this is me </h1>
            <p> My name is Maria João Mestre. A photo of me: </p>
        </div>
        <figure class="content_home">
            <img class="profile_photo" src="{{ "/assets/img/perfil.jpg" | relative_url}}" alt="smiling girl with curly hair and red clothes"> 
        </figure>
    </section>
    <section class="container">
        <h2>I really believe in this:</h2>
        <div class="list">
            <div class="list_items">
                <h3>Good design's...</h3>
                <q>not about what medium you’re working in. It’s about thinking hard about what you want to do and what you have to work with before you start. </q>
                <cite>Susan Kare</cite>
            </div>
            <div class="list_items">
                <h3>The key to great ideas...</h3>
                <q>is not having them, it is executing them. And great ideas come from problems. As designers we call problems, briefs and we call reactions to problems, concepts.</q>
                <cite>Kate Moross</cite>
            </div>
        </div>
    </section>
    <section class="container">
        {%- include socialmedia.html -%}
    </section>
</div>